@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

//....................... Variable Decalare here ..........................
$blue-color: #62b4fe;
$base-color: white;
$pink-color: #ff1493;
//................................ End  ...................................
* {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }


  -webkit-user-select: none;
  -moz-user-select: none;  // this is for mozila firefox
  -khtml-user-select: none;
  -webkit-touch-callout: none; // this is for iOS safari
  -ms-user-select: none;
  user-select: none; // not defined but this works on chrome and some other browsers


  overflow: hidden;
}

.navbar {
  padding-left: 1em;
  padding-right: 1em;
  .navbar-brand {
    .brand-logo {
      width: 200px;
      height: auto;

      animation: bounce 1.4s;
      animation-direction: alternate;
      animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
      animation-iteration-count: infinite;
    }
  }

  .nav-link {
    color: $base-color;
    font-weight: 600;
  }
  span {
    .btn-signin {
      border: 1px solid $blue-color;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 0 0.6rem;
      background-color: $blue-color;
      color: $base-color;
      padding: 8px 18px;

      &:hover {
        border: 1px solid $base-color;
        background-color: $base-color;
        color: $blue-color;
      }
     
    }
    .white {
      background-color: $base-color;
      border: 1px solid $base-color;
      color: $blue-color;

      &:hover {
        border: 1px solid $blue-color;
        background-color: $blue-color;
        color: $base-color;
      }
    }
  }

   // after login btn code
   .dropdown {
    
    .dp-btn {          
      background-color: transparent;
      border: none;
      outline: none;
      color: $blue-color;

      img {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 2px solid $blue-color;
        padding: 1px;
      }
    }
  }
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(16px, 0, 0);
  }
}

.Main-body {
  background-image: url(../Img/home-page-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal {
  .modal-body {
    .preview {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        border: 4px solid $pink-color;
        border-radius: 50%;
        background-color: black;
        display: none;
      }
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      // display: inline-block;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .btns {
      border: 2px solid $pink-color;
      padding: 4px;
      border-radius: 50%;
      background-color: #fff;

      img {
        width: 20px;
        height: 20px;
        margin: 2px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .upload-btn-wrapper input[type="file"] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    .borderOfRadio {
      padding: 6px 8px;
      outline: aliceblue;
      border: 1px solid #ced4da;
      border-radius: 4px;
      appearance: none;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:hover {
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
      }
    }

    .bulb-icon {
      float: right;
      margin-top: -2em;
      margin-right: 0.6em;
      cursor: pointer;
      pointer-events: none;

      .onBulb {
        width: 24px;
        height: auto;
        display: none;
      }
      .offBulb {
        width: 24px;
        height: auto;
        display: block;
      }
    }

    #errorEmail {
      font-size: 12px;
      margin-left: 0.4em;
      margin-top: 0.6em;
    }
    .otp {
      display: flex;
      justify-content: center;

      .otp-box {
        width: 2em;
        height: 3em;
        margin: 0.5em 0.6em;
        border-radius: 4px;
        outline: none;
        border: 0.5px solid lightgrey;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        color: $pink-color;

        &:focus {
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
        }
      }
    }

    // captcha code here ------------------------------------------------
    #captchaBackground {
      height: auto;
      width: 100%;
      // background-color: #2d3748;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    #captcha {
      background-color: #fff;
      transition: 0.6s ease;
      width: 120px;
      height: 60px;
      border: 1px dashed lightgrey;
    }

    #refreshButton {
      border: none;
      outline: none;
      background: transparent;
      transition: 0.8s ease;
      position: relative;
      img {
        width: 20px;
        height: 20px;
      }

      :hover {
        transform: rotate(360deg);
        transition: 1.2s ease-in-out;
      }
    }
    #textBox {
      height: 30px;
      width: 120px;
      border: none;
      border-bottom: 1px solid $pink-color;
      color: $pink-color;
      text-align: center;
      font-size: 18px;
      outline: none;
    }

    .modal-footer {
      #loginbtn {
        display: none;
      }
    }

    .star {
      color: red;
      font-size: 18px;
      margin-left: 1px;
    }
  }
}


.playground{
  margin: 5em;
  // border: 4px solid black;

  .tab-content{
    padding: 3em 1em;


    .homeTab-view{
      display: flex;
      flex-direction: row;

      &-userdp{
        img{
          width: 14em;
          height: auto;
          border-radius: 6px;
        }
       
      }

      &-userdetails{
        display: flex;
        flex-direction: column;
        justify-content: end;
    
        padding-left:2em;
        h1{
            color: $pink-color;
            line-height:2rem;
        }
        h5{
          color: #000;
          line-height:1.5rem;
          font-weight: 400;
        }
      }
    }

    .noteTab-view{
      display: flex;
      flex-direction: row;

      &-left{
          width: 30%;         
        .noteMSg{
          font-size: 12px;
          color: #cacac2;
        }  
        .savebtn{
         
          input{
            width: 100%;           
          }

        }
          
      }
      &-right{
        border: 1px solid lightslategrey;
        border-radius: 4px;
        height: min-content;
        width: 70%;
        margin: 0px 1em;
      }
    }

    .adminTab-view{
        width: 100%;
      .adminTab-view-top{
        padding: 2rem 0;
        form{
          display: flex;
          flex-direction: row;

          input[type=text]{
            min-width: 18em;
            max-width: 22em;
            margin-right: 1rem;
          }
        }
      }

      .adminTab-view-bottom{
        input[type=text]{
          padding: 6px 10px;
          border: 1px solid lightgrey;
          outline: none;
          border-radius: 4px;
        }
        textarea{
          overflow: hidden;
        }
        #deleteBtn,#updateBtn{
        
            cursor: pointer;
          
        }

        
      }

    }
  }
}